/target
*.pdb
.DS_Store
*.swp

# Ignore Sublime Text project files
*.sublime-*

# Added entries (1 items)
downloads/

# Added entries (2 items)
tmp*
src/tmp*

# Added entries (2 items)
*.bak
*.exe

# Added entries (1 items)
*.ini
